<div class="col-xs-12  collection-sidebar">
  {% comment %}
  Refined tags
  {% endcomment %}
<div class="row">

{% comment %}
<div class="col-xs-12 col-sm-3">
<div style="border: 1px solid #eee">
<button class="accordion2">SHOP FOR</button>
<div class="panel" style="border: 1px solid #eee; padding: 10px;">
<div style="border: 0;">
  {% for link in linklists.shop.links %}
    <button class="accordion" style="text-align: left!important">{{ link.title }}</button>
    <div class="panel" style="border-color: #fff; text-align: left!important">
      {% capture mm_vend %}{{ link.title | handleize }}{% endcapture %}
      {% for link in linklists.[mm_vend].links %}
        <a href="{{ link.url }}">{{ link.title }}</a><br>
      {% endfor %}
    </div>
  {% endfor %}
</div>
</div>
</div>
</div>
{% endcomment %}

<div class="col-xs-12 col-sm-12 collection-mm-filters">
  <div>
  <button class="accordion2">FILTER / SORT</button>
<div class="panel2">
<div class="row">
  <div class="col-xs-12 col-sm-2 sidebar-custom sidebar-tag">
    <div class="widget-title">
      <h3 style="font-size: 12px;">
        Shop For
      </h3>
    </div>
    {% for link in linklists.shop.links %}
      <button class="accordion" style="text-align: left!important">{{ link.title }}</button>
      <div class="panel" style="border-color: #fff; text-align: left!important">
        {% capture mm_vend %}{{ link.title | handleize }}{% endcapture %}
        {% for link in linklists.[mm_vend].links %}
          <a href="{{ link.url }}">{{ link.title }}</a><br>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class="col-xs-12 col-sm-9">
  {% include 'collection-sidebar-shop-by-blocks' %}
  </div>
  <div class="col-xs-12 col-sm-1 sidebar-custom sidebar-tag">
    <div class="widget-title">
      <h3 style="font-size: 12px;">
        Sort By
      </h3>
    </div>
    <div class="widget sidebar-links">
      {% include 'collection-sort' %}
    </div>
  </div>
</div>
</div>
</div>
</div>

{% comment %}
  {% if settings.display_sidebar_categories %}
  <div class="col-xs-12 col-sm-3">
    <div style="border: 1px solid #eee;">
  <button class="accordion2">SORT BY</button>
    <div class="panel2" style="border: 1px solid #eee; padding-top: 10px;">
  <div class="widget sidebar-links">
    {% include 'collection-sort' %}
  </div>
</div>
</div>
</div>
  {% endif %}
{% endcomment %}


</div>
</div>






<style>
  @media (min-width: 767px) {
  button.accordion {
      background-color: #fff;
      color: #000;
      cursor: pointer;
      padding: 0px;
      width: 100%;
      border: none;
      text-align: center;
      outline: none;
      line-height: 2;
      text-transform: uppercase;
      font-weight: 400;
      transition: 0.4s;
      width: 100%;
      font-size: 12px;
      display: inline-block;
  }


  button.accordion.active, button.accordion:hover {
      background-color: #fff;
  }


  button.accordion.active::after {
    content: " -";
  }

  button.accordion::after {
    content: " +";
  }

  div.panel {
      padding: 0 0px;
      display: none;
      border: none;
      line-height: 2!important;;
      background-color: #fff;
      text-align: center;
      width: 100%!important;
      text-transform: uppercase;
      float:center!important;
      font-size: 12px;
  }

  div.panel.show {
      display: block;
  }
}

@media (max-width: 766px) {
button.accordion {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    transition: 0.4s;
    width: 100%;
    font-size: 14px;
    display: inline-block;
}



button.accordion.active, button.accordion:hover {
    background-color: #fff;
}


  button.accordion.active::after {
    content: " -";
  }

  button.accordion::after {
    content: " +";
  }

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    float:center!important;
    font-size: 12px;
}

div.panel.show {
    display: block;
}
}
  </style>

  <style>
    @media (min-width: 767px) {
    button.accordion2 {
        background-color: #fff;
        color: #000;
        cursor: pointer;
        padding: 0px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        line-height: 2;
        font-weight: 400;
        transition: 0.4s;
        width: 100%;
        font-size: 14px;
        display: inline-block;
    }


    button.accordion2.active, button.accordion:hover {
        background-color: #fff;
    }


    button.accordion2.active::after {
      content: " -";
    }

    button.accordion2::after {
      content: " +";
    }

    div.panel2 {
        padding: 0 0px;
        display: none;
        line-height: 2;
        background-color: #fff;
        text-align: left;
        width: 100%!important;
        float:left!important;
        font-size: 12px;
    }

    div.panel2.show {
        display: block;
    }
  }

  @media (max-width: 766px) {
  button.accordion2 {
      background-color: #fff;
      color: #000;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: center;
      outline: none;
      transition: 0.4s;
      width: 100%;
      font-size: 14px;
      display: inline-block;
  }



  button.accordion.active, button.accordion:hover {
      background-color: #fff;
  }


    button.accordion2.active::after {
      content: " -";
    }

    button.accordion2::after {
      content: " +";
    }

  div.panel2 {
      padding: 0 18px;
      display: none;
      background-color: white;
      text-align: center;
      float:left!important;
      font-size: 14px;
  }

  div.panel2.show {
      display: block;
  }
  }
    </style>

  <script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
      acc[i].onclick = function(){
          this.classList.toggle("active");
          this.nextElementSibling.classList.toggle("show");
    }
  }
  </script>

  <script>
  var acc = document.getElementsByClassName("accordion2");
  var i;

  for (i = 0; i < acc.length; i++) {
      acc[i].onclick = function(){
          this.classList.toggle("active");
          this.nextElementSibling.classList.toggle("show");
    }
  }
  </script>
