
{% if current_tags == blank %}
{% assign has_refined = false %}
{% else %}
{% assign has_refined = true %}
{% endif %}

<div class="sidebar-block">

  {% if settings.enable_shop_by_tags_4 %}
  <div class="col-xs-12 col-sm-3">
  <div class="sidebar-custom sidebar-tag">
    {% assign tags = settings.shop_by_tags_4_list_tags | split: ',' %}
    <div class="widget-title">
      <h3>
        {% if settings.enable_multilang %}
          <span class="lang1">{{ settings.shop_by_tags_4_title | split: '|' | first }}</span>
          <span class="lang2">{{ settings.shop_by_tags_4_title | split: '|' | last }}</span>
        {% else %}
          <span>{{ settings.shop_by_tags_4_title | split: '|' | first }}</span>
        {% endif %}
        <a href="javascript:void(0)" class="clear" style="display:none" {% if settings.enable_multilang %}data-translate="collections.sidebar.clear"{% endif %}>
          {{ 'collections.sidebar.clear' | t }}
        </a>
      </h3>
    </div>
    <div class="widget-content">
      <ul>
        {% for t in tags %}
        {% assign tag = t | strip %}
        {% assign tag_low = tag | downcase %}
        {% assign tag_up = tag | upcase %}
        {% assign tag_value = tag | handleize %}
        {% if current_tags contains tag or current_tags contains tag_low or current_tags contains tag_up %}
        <li>
          {% if settings.enable_multilang %}
            <input type="checkbox" class="lang1" value="{{ tag_value | split: '|' | first }}" checked/>
            <label class="lang1">{{ tag | split: '|' | first }}</label>
            <input type="checkbox" class="lang2" value="{{ tag_value | split: '|' | last }}" checked/>
            <label class="lang2">{{ tag | split: '|' | last }}</label>
          {% else %}
            <input type="checkbox" value="{{ tag_value | split: '|' | first }}" checked/>
            <label>{{ tag | split: '|' | first }}</label>
          {% endif %}
        </li>
        {% else %}
          {% if collection.tags contains tag %}
            <li>
            {% if settings.enable_multilang %}
              <input type="checkbox" class="lang1" value="{{ tag_value | split: '|' | first }}"/>
              <label class="lang1">{{ tag | split: '|' | first }}</label>
              <input type="checkbox" class="lang2" value="{{ tag_value | split: '|' | last }}"/>
              <label class="lang2">{{ tag | split: '|' | last }}</label>
            {% else %}
              <input type="checkbox" value="{{ tag_value | split: '|' | first }}"/>
              <label>{{ tag | split: '|' | first }}</label>
            {% endif %}
            </li>
        	{% endif %}
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  </div>
  {% endif %}


{% if settings.enable_shop_by_tags_1 %}
<div class="col-xs-12 col-sm-7">
<div class="sidebar-custom sidebar-tag">
  {% assign tags = settings.shop_by_tags_1_list_tags | split: ',' %}
  <div class="widget-title">
    <h3>
      {% if settings.enable_multilang %}
        <span class="lang1">{{ settings.shop_by_tags_1_title | split: '|' | first }}</span>
        <span class="lang2">{{ settings.shop_by_tags_1_title | split: '|' | last }}</span>
      {% else %}
        <span>{{ settings.shop_by_tags_1_title | split: '|' | first }}</span>
      {% endif %}
      <a href="javascript:void(0)" class="clear" style="display:none" {% if settings.enable_multilang %}data-translate="collections.sidebar.clear"{% endif %}>
        {{ 'collections.sidebar.clear' | t }}
      </a>
    </h3>
  </div>
  <div class="widget-content">
    <ul class="col-xs-12 col-sm-4">
      {% for i in (1..20) %}
        {% capture shop_by_color_text %}shop_by_color_text_{{ i }}{% endcapture %}
        {% capture color %}color-{{ i }}.png{% endcapture %}

        {% if settings[shop_by_color_text] != blank %}
          {% assign tag = settings[shop_by_color_text] | strip %}
          {% assign tag_low = tag | downcase %}
          {% assign tag_up = tag | upcase %}
          {% assign tag_value = tag | handleize %}
          {% if collection.tags contains tag %}
            <li>
              <input type="checkbox" class="lang1" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag or current_tags contains tag_low or current_tags contains tag_up %}checked{% endif %} />
              <label><img  src="{{ color | asset_img_url: '15x' }}" alt="alt text" style="display: none; border-radius: 0%"/> {{ tag | split: '|' | first }}</label>
            </li>


        {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

    <ul class="col-xs-12 col-sm-4">
      {% for i in (21..32) %}
        {% capture shop_by_color_text %}shop_by_color_text_{{ i }}{% endcapture %}
        {% capture color %}color-{{ i }}.png{% endcapture %}

        {% if settings[shop_by_color_text] != blank %}
          {% assign tag = settings[shop_by_color_text] | strip %}
          {% assign tag_low = tag | downcase %}
          {% assign tag_up = tag | upcase %}
          {% assign tag_value = tag | handleize %}
          {% if collection.tags contains tag %}
            <li>
              <input type="checkbox" class="lang1" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag or current_tags contains tag_low or current_tags contains tag_up %}checked{% endif %} />
              <label><img src="{{ color | asset_img_url: '15x' }}" alt="alt text" style="display: none; border-radius: 0%"/> {{ tag | split: '|' | first }}</label>
            </li>


        {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    
    <ul class="col-xs-12 col-sm-4">
      {% for i in (33..42) %}
        {% capture shop_by_color_text %}shop_by_color_text_{{ i }}{% endcapture %}
        {% capture color %}color-{{ i }}.png{% endcapture %}

        {% if settings[shop_by_color_text] != blank %}
          {% assign tag = settings[shop_by_color_text] | strip %} 
          {% assign tag_low = tag | downcase %}
          {% assign tag_up = tag | upcase %}
          {% assign tag_value = tag | handleize %}
          <li>
            <input type="checkbox" class="lang1" value="{{ tag_value | split: '|' | first }}" {% if current_tags contains tag or current_tags contains tag_low or current_tags contains tag_up %}checked{% endif %} />
            <label><img src="{{ color | asset_img_url: '15x' }}" alt="alt text" style="display: none; border-radius: 0%"/> {{ tag | split: '|' | first }}</label>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
</div>
{% endif %}

{% if settings.enable_shop_by_tags_2 %}
<div class="col-xs-12 col-sm-1">
<div class="sidebar-custom sidebar-tag size">
  {% assign tags = settings.shop_by_tags_2_list_tags | split: ',' %}
  <div class="widget-title">
    <h3>
      {% if settings.enable_multilang %}
        <span class="lang1">{{ settings.shop_by_tags_2_title | split: '|' | first }}</span>
        <span class="lang2">{{ settings.shop_by_tags_2_title | split: '|' | last }}</span>
      {% else %}
        <span>{{ settings.shop_by_tags_2_title | split: '|' | first }}</span>
      {% endif %}
      <a href="javascript:void(0)" class="clear" style="display:none" {% if settings.enable_multilang %}data-translate="collections.sidebar.clear"{% endif %}>
        {{ 'collections.sidebar.clear' | t }}
      </a>
    </h3>
  </div>
  <div 3 class="widget-content">
    <ul>
      {% for t in tags %}
      {% assign tag = t | strip %}
      {% assign tag_low = tag | downcase %}
      {% assign tag_up = tag | upcase %}
      {% assign tag_value = tag | handleize %}
      {% if current_tags contains tag or current_tags contains tag_low or current_tags contains tag_up %}
      <li>
        {% if settings.enable_multilang %}
          <input type="checkbox" class="lang1" value="{{ tag_value | split: '|' | first }}" checked/>
          <label class="lang1">{{ tag | split: '|' | first }}</label>
          <input type="checkbox" class="lang2" value="{{ tag_value | split: '|' | last }}" checked/>
          <label class="lang2">{{ tag | split: '|' | last }}</label>
        {% else %}
          <input type="checkbox" value="{{ tag_value | split: '|' | first }}" checked/>
          <label>{{ tag | split: '|' | first }}</label>
        {% endif %}
      </li>
      {% else %}
        {% if collection.tags contains tag %}
          <li>
          {% if settings.enable_multilang %}
            <input type="checkbox" class="lang1" value="{{ tag_value | split: '|' | first }}"/>
            <label class="lang1">{{ tag | split: '|' | first }}</label>
            <input type="checkbox" class="lang2" value="{{ tag_value | split: '|' | last }}"/>
            <label class="lang2">{{ tag | split: '|' | last }}</label>
          {% else %}
            <input type="checkbox" value="{{ tag_value | split: '|' | first }}"/>
            <label>{{ tag | split: '|' | first }}</label>
          {% endif %}
          </li>
        {% endif %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
</div>
{% endif %}

{% if settings.enable_shop_by_tags_3 %}
<div class="col-xs-12 col-sm-2">
<div class="sidebar-custom sidebar-tag">
  {% assign tags = settings.shop_by_tags_3_list_tags | split: ',' %}
  <div class="widget-title">
    <h3>
      {% if settings.enable_multilang %}
        <span class="lang1">{{ settings.shop_by_tags_3_title | split: '|' | first }}</span>
        <span class="lang2">{{ settings.shop_by_tags_3_title | split: '|' | last }}</span>
      {% else %}
        <span>{{ settings.shop_by_tags_3_title | split: '|' | first }}</span>
      {% endif %}
      <a href="javascript:void(0)" class="clear" style="display:none" {% if settings.enable_multilang %}data-translate="collections.sidebar.clear"{% endif %}>
        {{ 'collections.sidebar.clear' | t }}
      </a>
    </h3>
  </div>
  <div class="widget-content">
    <ul>
      {% for t in tags %}
      {% assign tag = t | strip %}
      {% assign tag_low = tag | downcase %}
      {% assign tag_up = tag | upcase %}
      {% assign tag_value = tag | handleize %}
      {% if current_tags contains tag or current_tags contains tag_low or current_tags contains tag_up %}
      <li>
        {% if settings.enable_multilang %}
          <input type="checkbox" class="lang1" value="{{ tag_value | split: '|' | first }}" checked/>
          <label class="lang1">{{ tag | split: '|' | first }}</label>
          <input type="checkbox" class="lang2" value="{{ tag_value | split: '|' | last }}" checked/>
          <label class="lang2">{{ tag | split: '|' | last }}</label>
        {% else %}
          <input type="checkbox" value="{{ tag_value | split: '|' | first }}" checked/>
          <label>{{ tag | split: '|' | first }}</label>
        {% endif %}
      </li>
      {% else %}
        {% if collection.tags contains tag %}
          <li>
          {% if settings.enable_multilang %}
            <input type="checkbox" class="lang1" value="{{ tag_value | split: '|' | first }}"/>
            <label class="lang1">{{ tag | split: '|' | first }}</label>
            <input type="checkbox" class="lang2" value="{{ tag_value | split: '|' | last }}"/>
            <label class="lang2">{{ tag | split: '|' | last }}</label>
          {% else %}
            <input type="checkbox" value="{{ tag_value | split: '|' | first }}"/>
            <label>{{ tag | split: '|' | first }}</label>
          {% endif %}
          </li>
        {% endif %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
</div>
{% endif %}
  
  {% if current_tags | size %}<div class="clearfix"></div><div class="sidebar-action text-center"><a href="" class="btn clear-all" style="min-width:200px;color:#fff!important">Clear All</a></div>{% endif %}
</div>
