<header class="site-header" role="banner">

  {% include 'top-cart' %}

  <div class="header-bottom">
    <div class="container">

      <div class="header-mobile">
        <div class="menu-block visible-phone" style="border-right: 0px solid #fff;"><!-- start Navigation Mobile  -->
          <div id="showLeftPush">
   <button id="ChangeToggle" aria-label="changeToggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
       <div id="navbar-hamburger"><i class="fa fa-bars fa-2x"></i></div>
       <div id="navbar-close" class="hidden"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
   </button>
</div>
          <a href="#" data-reveal-id="myModal"><i class="fa fa-search fa-lg" aria-hidden="true" style="color: #000; position: fixed; z-index: 9999; top: 17px; left:17%;"></i></a>
        </div><!-- end Navigation Mobile  -->

        <div class="customer-area dropdown hidden-xs" style="border-left: 0px solid #fff;">
          <a data-toggle="dropdown" href="#">Dropdown trigger</a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <p {% if customer %}class="login"{% endif %}>
              <a href="/account" {% if settings.enable_multilang %}data-translate="customer.account.title"{% endif %}>{{ 'customer.account.title' | t }}</a>
            </p>
            <div class="wishlist">
              <a href="#swym-wishlist" {% if settings.enable_multilang %}data-translate="wishlist.general.my_wishlist"{% endif %}>
              {{ 'wishlist.general.my_wishlist' | t }}
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="header-panel-top visible-xs">
        <div class="nav-search on">{% include 'search-bar' %}</div>
        <div class="currency">{% include 'new-currency-picker' %}</div>

        {% if settings.enable_multilang %}
        <div class="lang-block">
          <select id="lang-switcher">
            <option value="1">{{ settings.lange_1 }}</option>
            <option value="2">{{ settings.lange_2 }}</option>
          </select>
        </div>
        <script>
          translator.updateLangSwitcher();
          jQuery('#lang-switcher').selectize();
        </script>
        <style>
        .selectize-control div[data-value~="1"] {background: url({{ "i-lang-1.png" | asset_url }}) no-repeat;}
        .selectize-control div[data-value~="2"] {background: url({{ "i-lang-2.png" | asset_url }}) no-repeat;}
        </style>
        {% endif %}

        <div class="top-header" style="margin-left:30px">
          <div class="wrapper-top-cart">
            <p class="top-cart">
              <a href="/cart">
                <span class="first" {% if settings.enable_multilang %}data-translate="cart.general.shopping_cart"{% endif %}><img src="{{ 'cart.png' | asset_url }}" width="40px" alt="alt text"></span>

              </a>
            </p>
          </div>

          {% comment %}
          If customer accounts are enabled, provide login and create account links
          {% endcomment %}
        </div> <!-- End Top Header -->

      </div>

      <div class="header-panel">
        <div class="row">
          <h1 class="header-logo col-xs-12">
            <center>
            {% if settings.brand_type == 'image' %}
            <a href="/">
              {{ 'logo.png' | asset_url | img_tag: shop.name }}</a><h4><font size="6"><b>{{ settings.brand_text }}</b></font></h4>
              {% if settings.enable_retina %}
              	{{ 'logo_2x.png' | asset_url | img_tag: shop.name }}
              <h2>{{ settings.brand_text }}</h2>
              {% endif %}


            {% elsif settings.brand_text != "" %}
            <a class="logo-title" href="/">{{ settings.brand_text }}</a>
            {% else %}
            <a class="logo-title" href="/">{{shop.name}}</a>
            {% endif %}

            </center>
          </h1>
        </div>

      </div>
    </div>

    <nav class="nav-bar" role="navigation">
      <div class="container visible-xs" style="margin-top: 0px">
        {% include 'site-nav-mobile' %}
      </div>
      <div class="hidden-xs" style="margin-top: -17px">
        {% include 'site-nav' %}
      </div>
    </nav>


  </div>

</header>
{% if settings.enable_multilang %}
<script>
  translator.doTranslate(".site-header");
</script>
{% endif %}
<span class="visible-xs" id="cartCountm" style="position: fixed; background: transparent; border-radius: 100%; right: 23px; top: 10px; width: 20px; text-align: center; z-index: 999999999999999999; padding: 3px; color: #000!important">{{ cart.item_count }}</span>

{% comment %}
<div class="visible-xs">
{% include 'search-mobile' %}
</div>
{% endcomment %}
