<header class="site-header" role="banner">

  {% include 'top-cart' %}

  <div class="header-bottom">
    <div class="container">

      <div class="header-mobile">
        <div class="menu-block visible-phone" style="border-right: 0px solid #fff;"><!-- start Navigation Mobile  -->
          <div id="showLeftPush">
   <button id="ChangeToggle" aria-label="changeToggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
       <div id="navbar-hamburger"><i class="fa fa-bars fa-2x"></i></div>
       <div id="navbar-close" class="hidden"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
   </button>
</div>
          <a href="#" data-reveal-id="myModal"><i class="fa fa-search fa-lg" aria-hidden="true" style="color: #000; position: fixed; z-index: 9999; top: 110px; right:58px;"></i></a>
        </div><!-- end Navigation Mobile  -->

        <div class="customer-area dropdown hidden-xs" style="border-left: 0px solid #fff;">
          <a data-toggle="dropdown" href="#">Dropdown trigger</a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <p {% if customer %}class="login"{% endif %}>
              <a href="/account" {% if settings.enable_multilang %}data-translate="customer.account.title"{% endif %}>{{ 'customer.account.title' | t }}</a>
            </p>
            <div class="wishlist">
              <a href="#swym-wishlist" {% if settings.enable_multilang %}data-translate="wishlist.general.my_wishlist"{% endif %}>
              {{ 'wishlist.general.my_wishlist' | t }}
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="header-panel-top visible-xs">
        <div class="nav-search on">{% include 'search-bar' %}</div>
        <div class="currency">{% include 'new-currency-picker' %}</div>

        {% if settings.enable_multilang %}
        <div class="lang-block">
          <select id="lang-switcher">
            <option value="1">{{ settings.lange_1 }}</option>
            <option value="2">{{ settings.lange_2 }}</option>
          </select>
        </div>
        <script>
          translator.updateLangSwitcher();
          jQuery('#lang-switcher').selectize();
        </script>
        <style>
        .selectize-control div[data-value~="1"] {background: url({{ "i-lang-1.png" | asset_url }}) no-repeat;}
        .selectize-control div[data-value~="2"] {background: url({{ "i-lang-2.png" | asset_url }}) no-repeat;}
        </style>
        {% endif %}

        <div class="top-header" style="margin-left:30px">
          {% comment %}
          <div class="wrapper-top-cart">
            <p class="top-cart">
              <a href="/cart">
                <span {% if settings.enable_multilang %}data-translate="cart.general.shopping_cart"{% endif %}><img src="{{ 'cart.png' | asset_url }}" width="40px" alt="alt text"></span>
              </a>
            </p>
          </div>

          If customer accounts are enabled, provide login and create account links
          {% endcomment %}
        </div> <!-- End Top Header -->

      </div>

      <div class="header-panel header-group">
        <div class="row header-logo">
          <h1 class="header-logo col-xs-12">
            <center>
            {% if settings.brand_type == 'image' %}
            <a href="/" class="logo-img">
              {{ 'extend_logo.png' | asset_url | img_tag: shop.name }}</a>{% comment %}<h4><font size="6"><b>{{ settings.brand_text }}</b></font></h4>{% endcomment %}
              {% if settings.enable_retina %}
              	{{ 'logo_2x.png' | asset_url | img_tag: shop.name }}
              <h2>{{ settings.brand_text }}</h2>
              {% endif %}


            {% elsif settings.brand_text != "" %}
            <a class="logo-title" href="/">{{ settings.brand_text }}</a>
            {% else %}
            <a class="logo-title" href="/">{{shop.name}}</a>
            {% endif %}
				
            </center>
          </h1>
          <a href="/cart" class="first"style="width: 17px; margin-right: -46px; margin-top: 16px; position: relative;transform: translateY(8px);" >
                <span class="first mobile-shopping-bag" {% if settings.enable_multilang %}data-translate="cart.general.shopping_cart"{% endif %}><img src="{{ 'cart.png' | asset_url }}" width="40px" alt="alt text"></span>
                <span class="visible-xs" id="cartCount" style="position: absolute; background: transparent; border-radius: 100%; right: -16px; top: -4px; width: 20px; text-align: center; z-index: 999999999999999999; padding: 3px; color: #000!important">{{ cart.item_count }}</span>

              </a> 
        </div>
		
        <ul class="icon-button-group">
                    <li class="hidden-xs"><a href="#" data-reveal-id="myModal"><i class="fa fa-search" aria-hidden="true"></i></a></li>                    
                    <li>
                        <a href="#swym-wishlist" class="" data-swym-loaded="true">
                          <span>
                            <i class="fa fa-heart-o hidden-xs" aria-hidden="true"></i> <span class="visible-xs">Wishlist</span>

                          </span>
                        </a>
                    </li>	
                    <li>
                      <a href="javascript:void(0)" id="cartToggle" style="text-decoration:none!important;">
                      <span class="first" {% if settings.enable_multilang %}data-translate="cart.general.shopping_cart"{% endif %}>
                        <img class="dt_rd_tp" src="{{ 'cart.png' | asset_url }}" alt="alt text" width="15px">
                      </span>
                        <span class="cartCount" style="display: none;">{{ cart.item_count }}</span>
                      </a>
                    </li>
                    
                    <div id="dropdown-cart" style="display:none">
                       <div class="no-items">
                         <center><p>{{ 'cart.general.empty' | t }}</p></center>
                         <p class="text-continue"><a href="javascript:void(0)" {% if settings.enable_multilang %}data-translate="cart.ajax_cart.continue_shopping"{% endif %} style="text-align: center">{{ 'cart.ajax_cart.continue_shopping' | t }}</a></p>
                       </div>
                       <div class="has-items">
                         <h2 style="text-align: center; text-transform: uppercase;">Your Cart</h2>
                         <ol class="mini-products-list">
                           {% for item in cart.items %}
                           <li class="item" id="cart-item-{{item.id}}">
                             <a href="{{item.url}}" class="product-image">
                               <img src="{{ item.image | product_img_url: 'small' }}" alt="{{item.title}}">
                             </a>
                             <div class="product-details">
                               <a href="javascript:void(0)" title="{{ 'cart.general.remove' | t }}" class="btn-remove">X</a>
                               <p class="product-name">
                                 <a href="{{item.url}}">
                                   {% if settings.enable_multilang %}
                                     <span class="lang1">{{ item.product.title | split: '|' | first }}</span>
                                     <span class="lang2">{{ item.product.title | split: '|' | last }}</span>
                                   {% else %}
                                     {{ item.product.title | split: '|' | first }}
                                   {% endif %}
                                 </a>
                               </p>
                               <div class="option">
                                 {% if item.product.variants.size != 0 %}
                                 {% unless item.variant.title contains 'Default' %}
                                 <small>{{ item.variant.title }}</small>
                                 {% endunless %}
                                 {% endif %}
                               </div>
                               <div class="cart-collateral"><span class="price">{{item.price | money}}</span> x {{item.quantity}}</div>
                             </div>
                           </li>
                           {% endfor %}
                         </ol>
                         <div class="summary">
                           <p class="total">
                             <span class="label"><span {% if settings.enable_multilang %}data-translate="cart.label.total"{% endif %}>{{ 'cart.label.total' | t }}</span>:</span>
                             <span class="price"><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>{{cart.total_price | money}}</span>
                           </p>
                         </div>
                         <div class="actions">
                           <button class="btn" onclick="window.location='/checkout'" {% if settings.enable_multilang %}data-translate="cart.general.checkout"{% endif %}>{{ 'cart.general.checkout' | t }}</button>
                         </div>
                         <p class="text-cart"><a href="/cart" {% if settings.enable_multilang %}data-translate="cart.general.view_cart"{% endif %}>{{ 'cart.general.view_cart' | t }}</a></p>
                       </div>
                      </div>


                </ul>

        
      </div>
    </div>

    <nav class="nav-bar" role="navigation">
      <div class="container visible-xs" style="margin-top: 0px">
        {% include 'site-main-nav-mobile' %}
      </div>
      <div class="hidden-xs" style="margin-top: -17px">
        {% include 'site-main-nav' %}
      </div>
    </nav>


  </div>

</header>
{% if settings.enable_multilang %}
<script>
  translator.doTranslate(".site-header");
</script>
{% endif %}

{% comment %}
<div class="visible-xs">
{% include 'search-mobile' %}
</div>
{% endcomment %}
