{% if settings.display_banner %}
{% if settings.banner_text_title != blank %}

<section class=" parallax banner wow fadeInUp">
  <div class="container">
    <div class="inner">
      <div class="content">
        <div style="padding: 30px; background: #fff;">
      {% if settings.banner_text_title != blank %}
        {% if settings.enable_multilang %}
        <h2 class="lang1">{{ settings.banner_text_title | split: '|' | first }}</h2>
        <h2 class="lang2">{{ settings.banner_text_title | split: '|' | last }}</h2>
        {% else %}
        <h2>{{ settings.banner_text_title | split: '|' | first }}</h2>
        {% endif %}
        <p class="line">&nbsp;</p>
      {% endif %}

      {% if settings.banner_text_description != blank %}
        {% if settings.enable_multilang %}
        <p class="lang1">{{ settings.banner_text_description | split: '|' | first }}</p>
        <p class="lang2">{{ settings.banner_text_description | split: '|' | last }}</p>
        {% else %}
        <p>{{ settings.banner_text_description | split: '|' | first }}</p>
        {% endif %}
      {% endif %}

      {% if settings.banner_button_text != blank %}
        {% if settings.enable_multilang %}
        <a href="{{ settings.banner_button_link }}" title="{{ settings.banner_button_text | split: '|' | first }}" class="btn lang1">
          {{ settings.banner_button_text | split: '|' | first }}
          <span class="arrow">arrow</span>
        </a>
        <a href="{{ settings.banner_button_link }}" title="{{ settings.banner_button_text | split: '|' | last }}" class="btn lang2">
          {{ settings.banner_button_text | split: '|' | last }}
          <span class="arrow">arrow</span>
        </a>
        {% else %}
        <a href="{{ settings.banner_button_link }}" title="{{ settings.banner_button_text | split: '|' | first }}" class="btn">
          {{ settings.banner_button_text | split: '|' | first }}
          <span class="arrow">arrow</span>
        </a>
        {% endif %}
      {% endif %}
      </div>
      </div>
    </div>
  </div>
</section>

{% else %}
<div style="margin: 10px 0px 20px">
<a href="{{ settings.banner_button_link }}"><img src="{{ 'banner.jpg' | asset_img_url: '1000x' }}" width="100%" alt="homepage banner"></a>
</div>
{% endif %}
{% endif %}

<style>
@media (min-width: 768px) {
.parallax {
    /* The image used */
    background-image: url({{ 'banner.jpg' | asset_img_url: '1000x' }});

    /* Full height */
    height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
}
@media (max-width: 767px) {
.parallax {
    /* The image used */
    background-image: url({{ 'banner.jpg' | asset_img_url: '500x' }});

    /* Full height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
}
</style>
