{% assign on_sale = false %}
{% if bold_compare_at_price_min > bold_price_min %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

{% assign productIndex = forloop.index | minus:1 %}
{% assign delayTime = settings.time_lazy_load | times : productIndex %}

<div class="inner height_fix {% if sold_out %}sold-out{% endif %}{% if on_sale %} on-sale{% endif %} wow fadeIn" data-wow-delay="{{delayTime}}ms" id="product-{{ product.id }}">
  <div class="inner-top" style="border: 1px solid #fff;">
    <div class="product-top">
      <div class="product-image">
        <a href="{{ product.url | within: collection }}" class="product-grid-image">
          <img src="{{ product.featured_image | product_img_url: '400x' }}" alt="{{product.title}}" {% if product.images.size > 1 %}   onmouseover="src='{{ product.images[1] | product_img_url: '400x' }}'" onmouseout="src='{{ product.featured_image | product_img_url: '400x' }}'" {% endif %}>
        </a>
      </div>


      <div class="product-des">

        {% if settings.enable_quick_view %}
        <div class="quickview-button">
          <a href="javascript:void(0)" id="{{ product.handle }}" title="{{ 'products.product.quick_view' | t }}" {% if settings.enable_multilang %}data-translate="products.product.quick_view" translate-item="title"{% endif %}><span {% if settings.enable_multilang %}data-translate="products.product.quick_view"{% endif %}>{{ 'products.product.quick_view' | t }}</span></a>
        </div>
        {% endif %}
      </div>

      {% comment %}
      {% include 'swym-product-view', product: product %}<button class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}" style="position: absolute; top: 10%; right: 10%; z-index: 9;"></button>
      {% endcomment %}
    </div>
    {% include 'item-swatch' %}

    <div class="product-bottom" style="background: #fff; height: 130px; padding: 10px;">
      <a class="product-title" href="{{ product.url | within: collection }}">
        {% if settings.enable_multilang %}
        <span class="lang1">{{ product.title | split: '|' | first }}</span>
        <span class="lang2">{{ product.title | split: '|' | last }}</span>
        {% else %}
        <b>{{ product.title | split: '|' | first }}</b>
        {% endif %}
      </a>

      {% if settings.display_product_reviews %}
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% endif %}

      <div class="price-box">
        {% if on_sale %}
        <p class="regular-product">
          <span style="color:#555">Traditional Price: {{ bold_compare_at_price_min | money }}</span><br>
          <span style="font-weight:700">Our Price: {% if bold_price_varies %}{% include 'varies_from' %}{% endif %}{{ bold_price_min | money }}</span>
        </p>
        {% else %}
        <p class="regular-product">
          <span style="font-weight:700">{% if bold_price_varies %}{% include 'varies_from' %}{% endif %}{{ bold_price_min | money }}</span>
          {% include 'swym-product-view', product: product %}<button class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}"></button>
        </p>
        {% endif %}
      </div>

    </div>
  </div>

</div>
