{% assign on_sale = false %}
{% if bold_compare_at_price_min > bold_price_min %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if item.product.available  %}
  {% assign sold_out = false %}
{% endif %}

{% assign productIndex = forloop.index | minus:1 %}
{% assign delayTime = settings.time_lazy_load | times : productIndex %}

<div class="inner height_fix {% if sold_out %}sold-out{% endif %}{% if on_sale %} on-sale{% endif %} wow fadeIn" data-wow-delay="{{delayTime}}ms" id="product-{{ item.product.id }}">
  <div class="inner-top" style="border: 1px solid #fff;">
    <div class="product-top">
      <div class="product-image">
        <a href="{{ item.url | within: collection }}" class="product-grid-image">
          <img src="{{ item.featured_image.src | product_img_url: 'large' }}" alt="{{ item.title }} {{ item.vendor }}" style="height: 250px; overflow: hidden">
          <div class="hover"></div>
        </a>
      </div>


      {% comment %}
      {% include 'swym-product-view', product: product %}<button class="swym-button swym-add-to-wishlist-view-product product_{{item.product.id}}" data-swaction="addToWishlist" data-product-id="{{item.product.id | json}}" style="position: absolute; top: 10%; right: 10%; z-index: 9;"></button>
      {% endcomment %}
    </div>
    {% include 'item-swatch' %}

    <div class="product-bottom" style="background: #fff; height: 130px; padding: 10px;">
      <a class="product-title" href="{{ item.product.url | within: collection }}">
        <b>{{ bold_product.title }}</b>
      </a>

      {% if settings.display_product_reviews %}
      <span class="shopify-product-reviews-badge" data-id="{{ item.product.id }}"></span>
      {% endif %}

      <div class="price-box">
        {% if on_sale %}
        <p class="regular-product">
          <span style="color:#555">Traditional Price: {{ bold_compare_at_price_min | money }}</span><br>
          <span style="font-weight:700">Our Price: {% if bold_price_varies %}{% include 'varies_from' %}{% endif %}{{ bold_price_min | money }}</span>
          {% include 'swym-product-view', product: product %}<button class="swym-button swym-add-to-wishlist-view-product product_{{item.product.id}}" data-swaction="addToWishlist" data-product-id="{{item.product.id | json}}"></button>
        </p>
        {% else %}
        <p class="regular-product">
          <span style="font-weight:700">{% if bold_price_varies %}{% include 'varies_from' %}{% endif %}{{ bold_price_min | money }}</span>
          {% include 'swym-product-view', product: product %}<button class="swym-button swym-add-to-wishlist-view-product product_{{item.product.id}}" data-swaction="addToWishlist" data-product-id="{{item.product.id | json}}" style="font-size:12px"></button>
        </p>
        {% endif %}
      </div>

    </div>
  </div>

</div>
