
{% comment %}
  List out your main-menu linklist (default)
  More info on linklists:
    - http://docs.shopify.com/themes/liquid-variables/linklists
{% endcomment %}

{% if settings.display_megamenu %}
{% assign items_list = settings.megamenu_items | split:"," | strip | downcase %}
{% endif %}

<div class="row">

<div style="height: 80px;" class="visible-xs"></div>
<div class="col-xs-12 col-sm-5">
<ul class="site-nav">

  {% for link in linklists.menu-left.links %}
  	{% assign i = forloop.index | downcase %}
    {% assign cat = link.title | downcase %}
    <li {% if linklists[link.handle] != empty %}class="dropdown {% if settings.display_megamenu and items_list contains cat %}mega-menu{% endif %}"{% endif %}>
      <a href="{{ link.url }}" class="{% if link.active %}current{% endif %}">
        <span>
          {% if settings.enable_multilang %}
          <span class="lang1">{{ link.title | split: '|' | first }}</span>
          <span class="lang2">{{ link.title | split: '|' | last }}</span>
          {% else %}
          {{ link.title | split: '|' | first }}
          {% endif %}
        </span>
      </a>

      {% comment %}
      Check if menu item is Mega menu
      {% endcomment %}
      {% if settings.display_megamenu and items_list contains cat %}
        <div class="site-nav-dropdown">
        {% include 'mega-menu' %}
        </div>

      {% else %}
      {% comment %} normal menu {% endcomment %}
      <ul class="site-nav-dropdown">
        {% for childlink in linklists[link.handle].links %}
          <li {% if linklists[childlink.handle] != empty and childlink.object.handle != 'clutches' %}class="dropdown 21"{% endif %}>
            <a href="{{ childlink.url }}" class="{% if childlink.active %}current{% endif %}">
              <span>
                {% if settings.enable_multilang %}
                <span class="lang1">{{ childlink.title | split: '|' | first }}</span>
                <span class="lang2">{{ childlink.title | split: '|' | last }}</span>
                {% else %}
                {{ childlink.title | split: '|' | first }}
                {% endif %}
              </span>
              {% if linklists[childlink.handle] != empty and settings.show_dropdown_arrow %}+{% endif %}
            </a>
            <ul class="site-nav-dropdown">
              {% for childlink2 in linklists.[childlink.handle].links %}
                <li {% if linklists[childlink2.handle] != empty and childlink2.object.handle != 'clutches' %}class="dropdown 22"{% endif %}>
                  <a href="{{ childlink2.url }}" class="{% if childlink2.active %}current{% endif %}">
                    <span>
                      {% if settings.enable_multilang %}
                      <span class="lang1">{{ childlink2.title | split: '|' | first }}</span>
                      <span class="lang2">{{ childlink2.title | split: '|' | last }}</span>
                      {% else %}
                      {{ childlink2.title | split: '|' | first }}
                      {% endif %}
                    </span>
                  </a>
                  <ul class="site-nav-dropdown">
                    {% for childlink3 in linklists.[childlink2.handle].links %}
                      <li>
                        <a href="{{ childlink3.url }}" class="{% if link.active %}current{% endif %}">
                          <span>
                            {% if settings.enable_multilang %}
                            <span class="lang1">{{ childlink3.title | split: '|' | first }}</span>
                            <span class="lang2">{{ childlink3.title | split: '|' | last }}</span>
                            {% else %}
                            {{ childlink3.title | split: '|' | first }}
                            {% endif %}
                          </span>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}

            </ul>
          </li>
        {% endfor %}
      </ul>
      {% endif %}

    </li>
  {% endfor %}

</ul>
</div>
<div class="col-xs-0 col-sm-2 hidden-xs"></div>
<div class="col-xs-12 col-sm-5">
<ul class="site-nav">

  {% for link in linklists.menu-right.links %}
  	{% assign i = forloop.index | downcase %}
    {% assign cat = link.title | downcase %}
    <li {% if linklists[link.handle] != empty %}class="dropdown {% if settings.display_megamenu and items_list contains cat %}mega-menu{% endif %}"{% endif %}>
      <a href="{{ link.url }}" class="{% if link.active %}current{% endif %}">
        <span>
          {% if settings.enable_multilang %}
          <span class="lang1">{{ link.title | split: '|' | first }}</span>
          <span class="lang2">{{ link.title | split: '|' | last }}</span>
          {% else %}
          {{ link.title | split: '|' | first }}
          {% endif %}
        </span>
      </a>

      {% comment %}
      Check if menu item is Mega menu
      {% endcomment %}
      {% if settings.display_megamenu and items_list contains cat %}
        <div class="site-nav-dropdown">
        {% include 'mega-menu' %}
        </div>

      {% else %}
      {% comment %} normal menu {% endcomment %}
      <ul class="site-nav-dropdown">
        {% for childlink in linklists[link.handle].links %}
          <li {% if linklists[childlink.handle] != empty and childlink.object.handle != 'clutches' %}class="dropdown 1"{% endif %}>
            <a href="{{ childlink.url }}" class="{% if childlink.active %}current{% endif %}">
              <span>
                {% if settings.enable_multilang %}
                <span class="lang1">{{ childlink.title | split: '|' | first }}</span>
                <span class="lang2">{{ childlink.title | split: '|' | last }}</span>
                {% else %}
                {{ childlink.title | split: '|' | first }}
                {% endif %}
              </span>
              {% if linklists[childlink.handle] != empty and settings.show_dropdown_arrow %}+{% endif %}
            </a>
            <ul class="site-nav-dropdown">
              {% for childlink2 in linklists.[childlink.handle].links %}
                <li {% if linklists[childlink2.handle] != empty and childlink2.object.handle != 'clutches' %}class="dropdown 2"{% endif %}>
                  <a href="{{ childlink2.url }}" class="{% if childlink2.active %}current{% endif %}">
                    <span>
                      {% if settings.enable_multilang %}
                      <span class="lang1">{{ childlink2.title | split: '|' | first }}</span>
                      <span class="lang2">{{ childlink2.title | split: '|' | last }}</span>
                      {% else %}
                      {{ childlink2.title | split: '|' | first }}
                      {% endif %}
                    </span>
                  </a>
                  <ul class="site-nav-dropdown">
                    {% for childlink3 in linklists.[childlink2.handle].links %}
                      <li>
                        <a href="{{ childlink3.url }}" class="{% if link.active %}current{% endif %}">
                          <span>
                            {% if settings.enable_multilang %}
                            <span class="lang1">{{ childlink3.title | split: '|' | first }}</span>
                            <span class="lang2">{{ childlink3.title | split: '|' | last }}</span>
                            {% else %}
                            {{ childlink3.title | split: '|' | first }}
                            {% endif %}
                          </span>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}

            </ul>
          </li>
        {% endfor %}
      </ul>
      {% endif %}

    </li>
  {% endfor %}

  <li>
    <a href="/cart" style="text-decoration:none!important;">
    <span class="first" {% if settings.enable_multilang %}data-translate="cart.general.shopping_cart"{% endif %}>BAG <i class="fa fa-shopping-bag fa-lg hidden-xs" aria-hidden="true"></i></span>
    </a>
  </li>


</ul>

</div>
</div>
