<div class="hidden-sm hidden-md">

            <div class="top-header" style="margin-left:30px">
              <div class="wrapper-top-cart">
                <p class="top-cart">
                  <a href="javascript:void(0)" id="cartToggle" style="text-decoration:none!important;">
                    <span class="first" {% if settings.enable_multilang %}data-translate="cart.general.shopping_cart"{% endif %}><b>CART</b>  <i class="fa fa-shopping-cart fa-lg hidden-xs" aria-hidden="true"></i></span>
                    <span id="cartCount" style="display: none; position: relative; z-index: 999; color: #000; padding: 0px; text-align: left; margin-left: 2px">{{ cart.item_count }}</span>
                  </a>
                </p>

              </div>

              {% comment %}
              If customer accounts are enabled, provide login and create account links
              {% endcomment %}
            </div> <!-- End Top Header -->

            <div id="dropdown-cart" style="display:none">
             <div class="no-items">
               <p>{{ 'cart.general.empty' | t }}</p>
               <p class="text-continue"><a href="javascript:void(0)" {% if settings.enable_multilang %}data-translate="cart.ajax_cart.continue_shopping"{% endif %}>{{ 'cart.ajax_cart.continue_shopping' | t }}</a></p>
             </div>
             <div class="has-items" style="padding-top:70px">
               <h2 style="text-align: center; text-transform: uppercase;">Your Bag</h2>
               <ol class="mini-products-list">
                 {% for item in cart.items %}
                 <li class="item" id="cart-item-{{item.id}}">
                   <a href="{{item.url}}" class="product-image">
                     <img src="{{ item.image | product_img_url: 'small' }}" alt="{{item.title}}">
                   </a>
                   <div class="product-details">
                     <a href="javascript:void(0)" title="{{ 'cart.general.remove' | t }}" class="btn-remove">X</a>
                     <p class="product-name">
                       <a href="{{item.url}}">
                         {% if settings.enable_multilang %}
                           <span class="lang1">{{ item.product.title | split: '|' | first }}</span>
                           <span class="lang2">{{ item.product.title | split: '|' | last }}</span>
                         {% else %}
                           {{ item.product.title | split: '|' | first }}
                         {% endif %}
                       </a>
                     </p>
                     <div class="option">
                       {% if item.product.variants.size != 0 %}
                       {% unless item.variant.title contains 'Default' %}
                       <small>{{ item.variant.title }}</small>
                       {% endunless %}
                       {% endif %}
                     </div>
                     <div class="cart-collateral"><span class="price">{{item.price | money}}</span> x {{item.quantity}}</div>
                   </div>
                 </li>
                 {% endfor %}
               </ol>
               <div class="summary">
                 <p class="total">
                   <span class="label"><span {% if settings.enable_multilang %}data-translate="cart.label.total"{% endif %}>{{ 'cart.label.total' | t }}</span>:</span>
                   <span class="price">{{cart.total_price | money}}</span>
                 </p>
               </div>
               <div class="actions">
                 <button class="btn" onclick="window.location='/checkout'" {% if settings.enable_multilang %}data-translate="cart.general.checkout"{% endif %}>{{ 'cart.general.checkout' | t }}</button>
               </div>
               <p class="text-cart"><a href="/cart" {% if settings.enable_multilang %}data-translate="cart.general.view_cart"{% endif %}>{{ 'cart.general.view_cart' | t }}</a></p>
             </div>
            </div>
      </div>
