<br><br>
<div class="widget widget-recent-articles">
  <div class="widget-title">
    <h3><b>
      <span {% if settings.enable_multilang %}data-translate="blogs.sidebar.recent_articles"{% endif %}>
        {{ 'blogs.sidebar.recent_articles' | t }}
      </span></b>
    </h3>
  </div>
  <div class="widget-content">
    <ul>
      {% for article in blog.articles limit:5 %}
      <li class="article">
        <p>
          <a href="{{ article.url }}">
            {% if settings.enable_multilang %}
            <span class="lang1">{{ article.title | split: '|' | first }}</span>
            <span class="lang2">{{ article.title | split: '|' | last }}</span>
            {% else %}
            {{ article.title | split: '|' | first }}
            {% endif %}
          </a>
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>


<div class="widget widget-recent-articles">
  <div class="widget-title">
    <h3><b>
      <span {% if settings.enable_multilang %}data-translate="blogs.sidebar.recent_articles"{% endif %}>
        Categories
      </span></b>
    </h3>
  </div>
  <div class="widget-content">
    <ul>
      {% for link in linklists.blog-categories.links %}
      <li class="article">
        <p>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
