<div class="home-sliders container">
    <div class="home-sliders__header">
        {% if section.settings.title != blank %}
            <h3 class="home-sliders__header-title">
                {{ section.settings.title }}
            </h3>
        {% endif %}

        <div class="home-sliders__header-action">
            <a class="" href="{{section.settings.button_url}}">
                {{ section.settings.button_text }}
            </a>
            <div class="swiper-button-prev home-swiper-prev"></div>
            <div class="swiper-button-next home-swiper-next"></div>
        </div>
    </div>
    {% if section.blocks.size > 0 %}
        <div class="swiper-container home-carousel">
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    <div class="swiper-slide">
                        <div class="home-slide-image">
                            <img src="{{ block.settings.image | img_url: '1000x' }}">
                        </div>
                        <div class="home-slide-content">
                            <div class="home-slide-description">
                                {{ block.settings.description }}
                            </div>
                            <a href="{{ block.settings.button_url }}">
                                {{ block.settings.button_text }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
<style type="text/css">
    .home-sliders__header-title {
        text-transform: uppercase;
        font-size: 24px;
    }
    .home-sliders__header {
        margin-bottom: 50px;
    }
    .home-sliders__header::after {
        display: table;
        content: ' ';
        clear: both;
    }
    .home-sliders__header .home-sliders__header-title {
        float: left;
        margin-bottom: 0;
    }
    .home-sliders__header .home-sliders__header-action {
        float: right;
        text-transform: uppercase;
        font-size: 18px;
        display: flex;
    }

    @media (max-width:  768px) {
        .home-sliders__header .home-sliders__header-action {
            float: left;
        }

        .home-sliders__header .home-sliders__header-title {
            display: block;
            float: none;
        }
    }
    .home-sliders__header-action .swiper-button-next, .home-sliders__header-action .swiper-button-prev {
        color: #000;
        width: 30px;
        height: 30px;
        position: relative;
        top: 16px;
        left: 0;
    }
    .home-sliders__header-action a {
        text-decoration: underline;
    }
    
    .home-sliders__header-action .swiper-button-next::after, .home-sliders__header-action .swiper-button-prev::after {
        font-size: 20px;
    }
</style>
<script type="text/javascript">
    var swiper = new Swiper(".home-carousel", {
        loop: true,
        slidesPerView: 1.3,
        spaceBetween: 10,
        breakpoints: {
            768: {
                slidesPerView: 1,
                spaceBetween: 10
            },
            1024: {
                slidesPerView: 2,
                spaceBetween: 40
            }
        },
        navigation: {
          nextEl: ".home-swiper-next",
          prevEl: ".home-swiper-prev",
        },
    });
</script>
{% schema %}
{
    "name": "Home Carousel",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "The pieces in action"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "See All"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "Button Url"
        }
    ],
    "blocks": [
        {
            "name": "Slider",
            "type": "slider",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Slider Image"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button Text"
                },
                {
                    "type": "url",
                    "id": "button_url",
                    "label": "Button Link"
                }
            ]
        }
    ]
}
{% endschema %}