<div class="home-sliders container">
    <div>
        <div class="featured-blogs__action">
            <a href="{{section.settings.button_url}}">{{section.settings.button_text}}</a>
            <div class="swiper-button-prev blog-swiper-prev"></div>
            <div class="swiper-button-next blog-swiper-next"></div>
        </div>
    </div>
    {% if section.blocks.size > 0 %}
        <div class="swiper-container home-carousel">
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    <div class="swiper-slide">
                        <a class="home-slide-title" href="{{ block.title_url }}">
                            {{ block.settings.title }}
                        </a>
                        <div class="home-slide-image">
                            <img src="{{ block.settings.image | img_url: '1000x' }}">
                        </div>
                        <div class="home-slide-content">
                            <div class="home-slide-description">
                                {{ block.settings.description }}
                            </div>
                            <a href="{{ block.settings.button_url }}">
                                {{ block.settings.button_text }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
<style type="text/css">
    .home-sliders {
        margin-bottom: 50px;
    }
    .home-slide-title {
        font-size: 20px;
        margin-bottom: 30px;
        text-transform: uppercase;
        display: block;
    }
    .home-slide-image img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    .home-slide-content {
        margin-top: 20px;
    }
    .home-slide-description {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .home-slide-content a {
        text-decoration: underline;
        text-transform: uppercase;
    }
</style>
<script type="text/javascript">
    var swiper = new Swiper(".home-carousel", {
        loop: true,
        breakpoints: {
            768: {
                slidesPerView: 2,
            },
            1024: {
                slidesPerView: 2,
            }
        },
    });
</script>
{% schema %}
{
    "name": "Home Carousel",
    "settings": [
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Shop All"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "Button Url"
        }
    ],
    "blocks": [
        {
            "name": "Slider",
            "type": "slider",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Slider Image"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button Text"
                },
                {
                    "type": "url",
                    "id": "button_url",
                    "label": "Button Link"
                }
            ]
        }
    ]
}
{% endschema %}