{% comment %}
  Loop through a defined number of articles with the 'paginate' tag.
  Don't forget to close the tag after your loop.
{% endcomment %}

{% paginate blog.articles by 35 %}

{% comment %}
  This template is also used for listing out articles of a specific tag.
  You can change layouts or styles by checking if current_tags is true.
{% endcomment %}

{% include 'breadcrumb' %}
 <header class="page-header">
   {% if current_tags %}
   <h1>{{ blog.title | link_to: blog.url }} &raquo; {{ current_tags.first }}</h1>
   {% else %}
   <h1>{{ blog.title }}</h1>
   {% endif %}
</header>

<div class="row">
  <div style="background: #fafafa; border: 1px solid #eee; padding: 10px; text-align: center; float: center; margin: 10px 0 20px;">
  {% for link in linklists.blog-categories.links %}
  <a href="{{ link.url }}" style="padding: 0 10px 0; font-weight: 400; text-transform: uppercase;">{{ link.title }}</a>
  {% endfor %}
  </div>

  <!-- Begin sidebar -->
  {% include 'blog_sidebar' %}
  <!-- End sidebar -->

  <div class="col-xs-9 col-main">


    <div class="content-blog">
      {% comment %}
        Loop through each article in your blog. This is limited to what you set for pagination above.

		For more info on article liquid tags:
		- http://docs.shopify.com/themes/liquid-variables/article
      {% endcomment %}

      <ul class="list-blog">
        {% for article in blog.articles %}
        <div class="row" style="margin-bottom: 20px">
        <div class="col-xs-12 col-sm-6" style="height: 300px; overflow: hidden; border-radius: 2px;">
    {% if article.content contains "<img" %}
    {% assign src = article.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn'; | replace: 'http:http://';, 'http://'; | remove: 'https:' %}
    {% endif %}
          <a href="{{ article.url }}"><img src="{{ src }}" /></a>
        </div>
        <div class="col-xs-12 col-sm-6">
        <li>
          <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>

          <p class="blog_author">
			{% comment %}
			  Don't be fooled, the ? in comments_enabled? is part of the liquid tag.
			{% endcomment %}
			<span class="blog_author">Posted
			<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
			  {{ article.published_at | date: '%b %d, %Y' }}
              </time> by {% if article.author == 'meagankong@gmail.com' %} Meagan Kong {% else %}{{ article.author }}{% endif %}</span>
          </p>

		  {% comment %}
			Add a surrounding div with class 'rte' to anything that will come from the rich text editor.
			Since this is just a listing page, you can either use the excerpt or truncate the full article.
		  {% endcomment %}
		  <div class="des">
			<p>{{ article.content | strip_html | truncatewords: 25 }}</p>
		  </div>

		  {% comment %}
			Show off meta information like number of comments and tags.
		  {% endcomment %}

          <p>
              <a href="{{ article.url }}">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </p>

        </li>
        </div>
        </div>
		{% endfor %}

      </ul>
       </div>
      {% if paginate.pages > 1 %}
      <div class="text-center">
        {% include 'pagination' %}
      </div>
      {% endif %}
    </div>

  </div>
{% endpaginate %}
