<div style="max-width: 800px;margin: 0 auto !important;float: none !important;">
{% include 'breadcrumb' %}
<header class="page-header">
  {% if settings.enable_multilang %}
  <h2 class="lang1">{{ page.title | split: '|' | first }}</h2>
  <h2 class="lang2">{{ page.title | split: '|' | last }}</h2>
  {% else %}
  <h2>{{ page.title | split: '|' | first }}</h2>
  {% endif %}
</header>

{% comment %}
  Regular page content goes here.
{% endcomment %}

{% if settings.enable_multilang %}
<div class="rte lang1">{% capture accdesc %}{{ page.content | replace: 'fullwidth"', '" data-fullwidth="true"' }}{% endcapture %}{% assign content = accdesc | replace: '&lt;!-- acsplit --&gt;', '<!-- acsplit -->' | split: '<!-- acsplit -->' %}{% for c in content %}{% render 'product-description-slider-page' with c %}{% endfor %}| split: '[lang2]' | first }}</div>
<div class="rte lang2">{% capture accdesc %}{{ page.content | replace: 'fullwidth"', '" data-fullwidth="true"' }}{% endcapture %}{% assign content = accdesc | replace: '&lt;!-- acsplit --&gt;', '<!-- acsplit -->' | split: '<!-- acsplit -->' %}{% for c in content %}{% render 'product-description-slider-page' with c %}{% endfor %}| split: '[lang2]' | last }}</div>
{% else %}
<div class="rte">{% capture accdesc %}{{ page.content | replace: 'fullwidth"', '" data-fullwidth="true"' }}{% endcapture %}{% assign content = accdesc | replace: '&lt;!-- acsplit --&gt;', '<!-- acsplit -->' | split: '<!-- acsplit -->' %}{% for c in content %}{% render 'product-description-slider-page' with c %}{% endfor %}| split: '[lang2]' | first }}</div>
{% endif %}
</div>
