<div class="avbout" style="max-width: 1000px;margin: 0 auto !important;float: none !important;">
{% include 'breadcrumb' %}
<header class="page-header">
  {% if settings.enable_multilang %}
  <h2 class="lang1">{{ page.title | split: '|' | first }}</h2>
  <h2 class="lang2">{{ page.title | split: '|' | last }}</h2>
  {% else %}
  <h2>{{ page.title | split: '|' | first }}</h2>
  {% endif %}
</header>


<div class="hidden-xs" style="background: #fafafa; border: 1px solid #eee; padding: 10px; text-align: center; float: center; margin: 10px 0 20px;">
{% for link in linklists.about.links %}
<a href="{{ link.url }}" style="padding: 0 10px 0; font-weight: 400; text-transform: uppercase;">{{ link.title }}</a>
{% endfor %}
</div>

<br><br>
{% comment %}
  Regular page content goes here.
{% endcomment %}

{% if settings.enable_multilang %}
<div class="rte lang1">{{ page.content | split: '[lang2]' | first }}</div>
<div class="rte lang2">{{ page.content | split: '[lang2]' | last }}</div>
{% else %}
<div class="rte">{{ page.content | split: '[lang2]' | first }}</div>
{% endif %}

<a class="anchor" name="the-company"></a>
<div class="row ">
  <div class="col-xs-12">
  <h3 class="visible-xs"><strong>THE COMPANY</strong></h3>
  </div>
  <div class="col-xs-12 col-sm-5 col-sm-push-7 about_image1pad">
  <img src="https://cdn.shopify.com/s/files/1/0240/3953/files/about-the-company.jpg?9876309301618339574" width="100%">
  </div>
<div class="col-xs-12 col-sm-7 col-sm-pull-5 left_align">
  <meta charset="utf-8" />
  <meta charset="utf-8" />
  <h3 class="hidden-xs"><strong>THE COMPANY</strong></h3>
  <p>AMANDA PEARL is a small, women run, New York City based accessories company known for sustainably and ethically made jewelry and clutches that are designed to empower.  The founder and designer, Amanda Brotman, has rebelled against the traditional retail model, cutting out the middleman and traditional 10x markup, bringing luxury accessories directly to the consumer at real, fair prices. (Read: we don’t offer discounts because we don’t inflate our costing to allow for them.) We offer the best prices every day of the year - with a 10% give-back to a different cause each quarter.</p>

  <p>Designed in our NYC studio, the collection is proudly manufactured by local  artisans and small family businesses - the jewelry is made in NYC’s diamond district and the clutches are handmade in the hills outside Florence, Italy.  It is our goal to help keep these small makers alive and thriving.  AMANDA PEARL produces in small quantities using recycled metals, ethical stones, and cultured pearls - a natural resource whose cultivation helps to maintain and improve water ecology.  We are always trying to come up with ways of developing our and our manufacturers’ sustainable capacities. </p>

  <p>Founded and designed by Seattle born Amanda Pearl Brotman, the collection is inspired by her Pacific Northwest roots, with nods to the shaping influences that she continues to reference - nature, science, music, and the visual and performing arts.</p>

  <p>Amanda’s award winning designs have been seen on women such as Lupita Nyong’o, Meryl Streep, Gal Gadot, Jane Fonda, and Karlie Kloss, and in publications such as Vogue, Bazaar, InStyle, and WWD.
</p>
<br>
  <br>
</div>
</div>

<hr>
<a class="anchor" name="the-people"></a>
<div class="row">
  <div class="col-xs-12">
  <h3 class="visible-xs"><strong>THE PEOPLE</strong></h3>
  </div>
<div class="col-xs-12 col-sm-5 about_image2pad">
<img src="https://cdn.shopify.com/s/files/1/0240/3953/files/Amanda_Pearl_148-APB-square.jpg?1833" width="100%">
</div>
<div class="col-xs-12 col-sm-7 right_align">
  <h3 class="hidden-xs"><strong>THE PEOPLE</strong></h3>
  <meta charset="utf-8" />
  <p><strong>AMANDA BROTMAN: Founder / Creative Director</strong></p>
  <p>New York based Amanda Pearl Brotman is the founder and designer of AMANDA PEARL, a luxury accessories brand whose aesthetic is a study in dualities, creating a truly modern sensibility and approach to fashion.</p>
  <p>Born and raised in the Pacific Northwest, Amanda’s childhood was both full of culture and the arts, and the freedom to explore the wild outdoors. Twelve years studying and performing with Pacific Northwest Ballet instilled an unerring discipline and sharp attention to aesthetic detail, which was tempered by her ceaseless curiosity about the natural world.</p>
  <p>Constantly pushing boundaries, Amanda left for NYC where she received a degree in Art History and Visual Arts from Barnard College. After a tenure at Marc Jacobs, in the technical design and production departments, Amanda brought her experience to Erin Fetherston’s womenswear label, where she was Collection Director, before decamping to launch AMANDA PEARL.</p>
  <p>Amanda is settled in NYC with her husband and boys, but still considers the Pacific Northwest ‘home’ – drawing upon its stunning natural beauty and innovative spirit as inspiration for her work.</p>

  <p>Amanda won the Fashion Group International Rising Star Award for her handbag designs, and was most recently a finalist in the fine jewelry category.  </p>

</div>
</div>
<div class="row ">
<div class="col-xs-12 col-sm-5 about_image1pad">
<img src="https://cdn.shopify.com/s/files/1/0240/3953/files/Amanda_Pearl_255-KK-square.jpg?1831" width="100%">
</div>
<div class="col-xs-12 col-sm-7 right_align">
  <meta charset="utf-8" />
  <p><strong>KELLY KRATUS NELSON: Director of Operations</strong></p>
  <p>Born and raised in Cleveland, OH, Kelly has called New York City home for almost a decade. In 2014 she joined the AMANDA PEARL team first as an intern while completing her degree in Strategic Design and Management from Parsons, and later as the Operations Coordinator.</p>
  <p>She credits the strong females in her family, and her education at an all girl’s high school, to giving her the knowledge and experience of the magic that happens when women support each other. Her desire and commitment to the AMANDA PEARL team is not only because she believes in the product, but because she feels aligned to the vision that Amanda continues to create.</p>
  <p>Kelly resides in Brooklyn with her husband and (to the dismay of her family) two cats.</p>
  <p>Fun Fact: At her wedding in April 2018, Kelly’s "Something Borrowed" was Amanda’s veil, and her "Something New" was the Ripple Climber Full Pavé Earrings in white gold.</p>
</div>
</div>

<hr>
<a class="anchor" name="the-product"></a>
<div class="row ">
  <div class="col-xs-12">
  <h3 class="visible-xs"><strong>THE PRODUCT</strong></h3>
  </div>
  <div class="col-xs-12 col-sm-5 col-sm-push-7 about_image1pad">
  <img src="https://cdn.shopify.com/s/files/1/0240/3953/files/about-the-product.jpg?11154814195540969707" width="100%">
  </div>
<div class="col-xs-12 col-sm-7 col-sm-pull-5 left_align">
  <h3 class="hidden-xs"><strong>THE PRODUCT</strong></h3>
<p>We aim to create the jewelry that we wouldn’t want to leave the house without - the pieces that make us feel like our most powerful selves.  Easy to wear and layer, the collections are designed to be super convertible - to stack amongst themselves, and to layer onto and enhance our more traditional jewelry, modernizing it and making it more of our own.</p>

<p>Nature and themes of power and protection are central to our design inspiration: our demi-fine jewelry collection is inspired by the sea urchin quill - an armoring element that has been made to curve and wrap the body in a fluid and feminine way. Our fine jewelry collection references the beauty, strength and capacity of the sea, inspired by the ripple shapes made on the ocean floor - outlines of energy and power on the surface.  Every piece from the collection should be worn as a reminder of your feminine strength and power.</p></div>

</div>



<hr>
<a class="anchor" name="manufacturing"></a>
<div class="row ">
  <div class="col-xs-12">
  <h3 class="visible-xs"><strong>MANUFACTURING</strong></h3>
  </div>
<div class="col-xs-12 col-sm-5 va about_image1pad">
<img src="https://cdn.shopify.com/s/files/1/0240/3953/files/about-manufacturing.jpg?3714760629966338493" width="100%">
</div>
<div class="col-xs-12 col-sm-7 va right_align">
  <h3 class="hidden-xs"><strong>MANUFACTURING</strong></h3>
  <p>
    <meta charset="utf-8" />
    <p>In a world full of mass production, AMANDA PEARL aims to be more and do better.   </p>
    <p><span style="text-decoration: underline;">AMANDA PEARL Jewelry</span><span> </span>is designed in our NYC studio and made by artisans and small makers in the city’s Diamond District. We proudly work with local family businesses to create jewelry that meets our exacting standards. We are proud to help keep our local industry alive and thriving.
</p>
    <p><span style="text-decoration: underline;">AMANDA PEARL Handbags</span><span> </span>are produced by family operated artisanal factories in Italy that produce the finest handbags for some of the world’s most well known luxury purveyors. Each handbag is meticulously assembled by hand, by artisans whose trade has been passed down from one generation to the next. Many of the details and much of the work that goes into the production are not visible to the eye in the finished product. The cylindrical frame of the Roll Clutch, for example, which was developed from scratch from Amanda's sketches, is made of gold plated brass from one factory specializing solely in metalwork for accessories. Once the plated and polished frame is sent to the finishing factory, an artisan dedicated to AMANDA PEARL covers and finishes the bag with the chosen silks, brocades and gemstones. The process is so painstaking, output averages only two Roll Clutches per day. This level of attention to detail is applied to every style in the collection.
 </p>
</div>
</div>

<hr>
<a class="anchor" name="the-customer"></a>
<div class="row ">
  <div class="col-xs-12">
  <h3 class="visible-xs"><strong>THE CUSTOMER</strong></h3>
  </div>
<div class="col-xs-12 col-sm-5 col-sm-push-7 about_image1pad">
<img src="https://cdn.shopify.com/s/files/1/0240/3953/files/about-the-customer.jpg?9332890570894201107" width="100%">
</div>
<div class="col-xs-12 col-sm-7 col-sm-pull-5 right_align ">
  <h3 class="hidden-xs"><strong>THE CUSTOMER</strong></h3>
<p>The AMANDA PEARL customer is a strong, independent woman who sees jewelry not just as an item to adorn, but as an opportunity to communicate strength - both overtly, as well as in a more subtle, talismanic way. Our customer likes the idea of jewelry as armor - not necessarily in a defensive way, but in a way that makes them feel protected and reminds them of their inherent, personal strength. Due to its sculptural and organic nature, the jewelry becomes a natural extension of one’s form that highlights and enhances.</p>
</div>
</div>

<hr>
<a class="anchor" name="giving"></a>
<h3 style="text-align: center;"><strong>GIVING BACK</strong></h3>
<div class="row ">
  <div class="col-xs-12 col-sm-7 col-sm-push-5 va">
  <img src="https://cdn.shopify.com/s/files/1/0240/3953/files/about-giving-back_c6a0c778-d08a-4d05-a733-27e9591587a8.jpg?12048779851146614928" width="100%">
  </div>
<div class="col-xs-12 col-sm-5 col-sm-pull-7 va left_align">
  <p>
    We like to stay involved, shed light, learn about issues, and take action. We want you to join us. 10% of SALES will go to the cause, which will change quarterly. Get ready to #MakeWAVES. We’d love to hear what causes you care about and your favorite organizations. <a href="https://amandapearl.com/pages/contact">Tell us!</a>

  </p>
</div>

</div>

</div>


<script>

@@ -0,0 +1,40 @@
/*
 * SMOOTH SCROLLING FOR ANCHOR LINKS
*/

// Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[class="anchor" name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 500, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });

  </script>

  <style>

  /* @group ANCHOR TAGS */

/* https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

/* @end */


</style>
